<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
        <stats number="3" comments="Nouveaux messages" colour="green" type="comments" more="Lire"></stats>
        <stats number="12" comments="Nouveaux membres" colour="primary" type="user" more="En savoir +"></stats>
        <stats number="18" comments="Scores" colour="yellow" type="trophy" more="Voir les scores"></stats>
        <stats number="24" comments="Défis" colour="red" type="pencil-square-o" more="Ajouter"></stats>

    </div>
    
    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-trophy fa-fw"></i> Top des scores
                </div>
                <!-- /.panel-heading -->
                <topscores></topscores>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications
                </div>
                <!-- /.panel-heading -->
                <notifications></notifications> 
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
