<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
        <stats number="300" comments="Bouteilles enregistrées pour la prochaine épreuve" colour="primary" type="pencil-square-o" more="Créer un certificat"></stats>
        <stats number="120" comments="Extincteurs C02 passées en épreuve cette année" colour="red" type="fire-extinguisher" more="En savoir +"></stats>
        <stats number="321" comments="Bouteilles d'air passées en épreuve cette année" colour="yellow" type="anchor" more="En savoir +"></stats>
        <stats number="123" comments="Bouteilles transportables passées en épreuve cette année" colour="green" type="truck" more="En savoir +"></stats>

    </div>
    
    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-certificate fa-fw"></i> Derniers certificats
                </div>
                <!-- /.panel-heading -->
                <lastcertificates></lastcertificates>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
